<mat-toolbar color="primary">
  <!-- Hamburger menu button -->
    <button mat-icon-button (click)="sidenav.toggle()" style="margin-right: 15px;">
        <mat-icon class="file-or-folder-icon pointer">reorder</mat-icon>
    </button>
  <!-- current address -->
    {{fileDB.SelectedFolder.address.join(' / ')}}

    <span style="flex: 1 1 auto"></span>
  <!-- Go up button -->
    <button mat-icon-button  *ngIf="fileDB.SelectedFolder.address.length>1" (click)="fileDB.SelectParent()" >
      <mat-icon class="file-or-folder-icon pointer" >arrow_upward</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="tree-container">
  <!-- Tree -->
  <mat-sidenav #sidenav mode="side" style="min-width: 50px; width:15%">
    <app-directory-tree></app-directory-tree>
  </mat-sidenav>
  <!-- Content -->
  <mat-sidenav-content>
    <app-directory-content></app-directory-content>
  </mat-sidenav-content>
</mat-sidenav-container>